

  <td>
    {{#each user as |users|}}

    {{username}}
      {{users}}
      {{user}}
    {{user.username}}

    {{/each}}


    {{username}}
      {{users}}
      <!-- {{table-contents users}} -->
      {{user}}
    {{users.username}}


  </td>
