
{{#if session.currentUser}}

<h1 class="cover-heading">Welcome to your account {{session.currentUser}}</h1>

<p style="text-align:left;">
  <i>Happy Coding!</i>
  <br><br>
</p>

<div id="contents" class="table-contents">

  <table>

    <tr>
      
      <th>
        Username
      </th>

      <th>
        Title
      </th>

      <th>
        Content
      </th>

      <th>
        Time Submitted
      </th>

    </tr>

    {{table-contents}}

  </table>

</div>




<button id="subButton" style="width:100%"class="btn displays-text-editor">
  Edit Code
</button>

<div id="showCodeMirror">
  <h2>Submission in-progress</h2>
      {{code-editor value=contents}}
   <button id="submit-button" {{action 'getMirrorCode'}}>Submit</button>
</div>

<script>
  $("#showCodeMirror").hide(10);

  $("#subButton").click(function(){
      $("#showCodeMirror").show(500);
      $("#subButton").hide(600);
  });
</script>


{{else}}

  <div id="error">

    <img src="images/no.png">

    <h1>Please login</h1>

    <h2> to access your account! </h2>

  </div>

{{/if}}

{{outlet}}
