<h1>Register</h1>

<form>

<table>

    <tr>
      <td>
        <label>Username</label>
        {{input value=username type="text"}}
      </td>
    </tr>

    <tr>
      <td>
        <label>Password</label>
        {{input value=password type="password"}}
      </td>
    </tr>

    <tr>
      <td>
        <label>Email</label>
        {{input value=email type="email"}}
      </td>
    </tr>

</table>
<div class="btn btn-primary" {{action 'register'}}>Register</div>

</form>




{{outlet}}


{{outlet}}
