<h1>Register</h1>

<form>

<table id="reg-table">

    <tr>
      <td>
        <label>Username: </label>
        {{input value=username type="text" placeholder="Enter Username"}}
      </td>
    </tr>

    <tr>
      <td>
        <label>Password:</label>
        {{input value=password type="password" placeholder="Enter Password"}}
      </td>
    </tr>

    <tr>
      <td>
        <label>Email:</label>
        {{input value=email type="email" placeholder="Enter Email"}}
      </td>
    </tr>

</table>
<div class="btn btn-primary" {{action 'register'}}>Register</div>

</form>




{{outlet}}


{{outlet}}
