
<h2>Completed!</h2>
<h3 style="text-align: center">{{session.currentUser}}, your code will be now reviewed</h3>

<!-- <button type="submit" {{action 'updateValue'}}>Show review</button> -->

<div id="current-code-field" class="submitted-code-review">

  {{code-editor }}

  {{contents}}

  <textfield contenteditable="false" id="review-field">
      {{session.currentCode}}
  </textfield>
    <!-- {{code-editor value=contents}} -->
</div>
<!-- {{contents}} -->

{{outlet}}
